 <body class="style">
 <button class="submit_btn"  (click)="Hideshowform() ">Show Participants</button> 
 <br>
  <br>
  <h1 style="text-align:center;color:#ffffff">
    Participants Details
  </h1>
  <section class="main"  >
  <div *ngFor="let text of Obj | paginate:  { itemsPerPage: 15, currentPage: p }" >      
<div class="users">
  <div class="card">
<table >
        <tr>
        <td class="tdstyle"> FirstName: </td> 
        <td>{{text.fname}}</td>
      </tr>
      <tr>
    <td class="tdstyle">  LastName:</td>     
    <td>{{text.lname}}</td>
  </tr>       
<tr>
    <td class="tdstyle">  Email:</td> 
     <td> {{text.email}}</td>
  </tr>
<tr>       
    <td class="tdstyle"> Project topic: </td> 
     <td> {{text.projecttopic}}</td>
  </tr>
 <tr>
    <td class="tdstyle"> Interested technology: </td>
     <td>{{text.interestedtechnology}}</td>
  </tr>
  <tr>
    <td class="tdstyle">Gender:</td>
     <td> {{text.gender}}</td>
  </tr> 
  </table>     
</div>
  </div>
  </div>
</section>
<pagination-controls style="color:#143479" 
(pageChange)="p = $event" 
class="float-right">
</pagination-controls><br>
<br>
<br>
  <button  (click)="submit()" class="submit_btn">Back</button>
  </body>
