 <body class="style">
  <mat-toolbar >
		<mat-toolbar-row>
      &nbsp;<img style="width:70px;height: 50px;" src="./assets/images-removebg-preview (1).png">
      <h1 style="text-align: center; font-size: 60px;margin-left: 30%;"  (click)="Hideshowform() "> Participants Details</h1> 
		</mat-toolbar-row>
	  </mat-toolbar>
    <br>
    <br>
  <section class="main"  >
  <div *ngFor="let text of Obj | paginate:  { itemsPerPage: 10, currentPage: p }" >      
<div class="users">
  <div class="card">
<table >
        <tr>
        <td class="tdstyle"> FirstName: </td> 
        <td>{{text.fname}}</td>
      </tr>
      <tr>
    <td class="tdstyle">  LastName:</td>     
    <td>{{text.lname}}</td>
  </tr>       
<tr>
    <td class="tdstyle">  Email:</td> 
     <td> {{text.email}}</td>
  </tr>
<tr>       
    <td class="tdstyle"> Groups: </td> 
     <td> {{text.groups}}</td>
  </tr>
 <tr>
    <td class="tdstyle"> Interested technology: </td>
     <td>{{text.interestedtechnology}}</td>
  </tr>
  <tr>
    <td class="tdstyle">Gender:</td>
     <td> {{text.gender}}</td>
  </tr> 
  </table>     
</div>
  </div>
  </div>
</section>
<pagination-controls style="color:#143479" 
(pageChange)="p = $event" 
class="float-right">
</pagination-controls><br>
<br>
<br>
  <button routerLink="/form"  (click)="submit()" class="submit_btn">Back</button>
  </body>
