table{
    margin-left: 10%;width:80%; height: 85%;
}
.style{

    background: linear-gradient(
       105deg,
       #afafaf ,
       #424242
   );
  }

.head{
    font-size: xx-large; height: 100px; 
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

a{
  text-decoration:none
}
.yes{
  cursor: pointer;
  background: transparent;
font-size: 30px; 
padding-left: 5%; 
} 
.yes:hover{ 
  color: #143479;
  transition: 0.5s;
 font-weight: bold; 
}
/* p{
  font-size: large;
} */

.header{
  position:relative;
  overflow:hidden;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
background-color:whitesmoke;
  height: 130px;
  min-width:300px;
  color:#eee;
  box-shadow:0px 0px 10px #ffffff
  
}
.header:after{
  content:"";
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform: translateZ(0);
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
/* .header a{
  color:#eee
} */
/* .del{
  width:10%; margin-top: 100%; color: #b59931; cursor: pointer; margin-left: 450%; font-size: 35px; 
} */


/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.btn2{
  background-color: black;
  color: #ffffff;
text-align: center;
  border: 1px solid #ffffff ;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5%;
  margin-left: 50%;
  padding: 0.5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.btn2:hover
{
  border:2px solid black;
  color: black;
  background-color: #ffffff;
}
.btn3{
  background-color: rgb(40, 40, 40);
  color: #fefefe;
text-align: center;
  border: 1px solid #ffffff ;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5%;
  margin-left: 50%;
  padding: 0.5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.btn3:hover
{
  border:2px solid black;
  color: black;
  background-color: #ffffff;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 
 
  flex-direction: row;
}
td{
  text-align: left;
  color: #000000;
}
.tdstyle1{
  color:#272727;
  font-weight: bold;
float: left;
margin-left: -280%;
font-size: 100px;
}
.tdstyle{
  color:#222222;
  font-weight: bold;
}
.main-top{
  display: flex;
  width: 100%;
  
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.bt
{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  font-weight: 800; 
}
.btstyle{
  background-color: white;
  color: #080808;
  padding: 20px;
  border: 1px solid #101010;
  cursor: pointer;
  font-weight: 800;
}
.main .users{
    display: flex;
   
    width: 100%;


  }
 .submit_btn{
	width: 100%;
	background: #242424;
	padding: 20px;
	border: 0;
  color:white;
  font-size:20px;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}

 .submit_btn:hover{
	background: #ffffff;
  color:black;
  border:2px solid black;
}
.users .card{
  width: 100%;
  margin: 20px;
  background: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;

}

.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}


   

 

