<body>
	<h1 style="color:aliceblue;text-align: center;font-size: 50px;">Hackathon Application Register By FEB 18-20</h1><br>
	<hr>
	<p (click)="Hideshowform()"></p>
<p id="result"></p>
	<div class="wrapper">
		<div class="registration_form1">
			<div class="form_wrap">
					<h2 style="text-align:center;">Group1</h2>
					<div class="input_grp">
						<div class="input_wrap">
							<label  for="fname" >Registered:</label>
							<input type="text" style="font-size: large;" id="fname" [(ngModel)]="this.List.length" autocomplete="off" name="fname" readonly>
						</div>
						<div class="input_wrap">
							<label for="lname">Available</label>
							<input type="text" id="lname" style="font-size: large;" [(ngModel)]="10-this.List.length" autocomplete="off" name="lname" readonly  />   
							</div>
					</div>
					<h2 style="text-align:center;">Group2</h2>
					
					
					<div class="input_grp">
						<div class="input_wrap">							<label for="fname">Registered</label>
							<input type="text" id="fname" style="font-size: large;" [(ngModel)]="this.List1.length" autocomplete="off" name="fname" readonly>  
						</div>
						<div class="input_wrap">
							<label for="lname">Available</label>
							<input type="text" id="lname" style="font-size:large;" [(ngModel)]="10-this.List1.length" autocomplete="off" name="lname"  readonly/>
							</div>
					</div>
					<h2 style="text-align:center;">Group3</h2>
					<div class="input_grp">
						<div class="input_wrap">
							<label for="fname">Registered</label>
							<input type="text" id="fname" style="font-size: large;" [(ngModel)]="this.List2.length" autocomplete="off" name="fname" readonly >  
						</div>
						<div class="input_wrap">
							<label for="lname">Available</label>
							<input type="text" id="lname" style="font-size: large;" [(ngModel)]="10-this.List2.length" autocomplete="off" name="lname" readonly />
							</div>
					</div>
					<h2 style="text-align:center;">Group4</h2>
					
					
					<div class="input_grp">
						<div class="input_wrap">
							
							<label for="fname">Registered</label>
							<input type="text" id="fname" style="font-size: large;" [(ngModel)]="this.List3.length" autocomplete="off" name="fname"readonly >  
						</div>
						<div class="input_wrap">
							<label for="lname">Available</label>
							<input type="text" id="lname" style="font-size: large;" [(ngModel)]="10-this.List3.length" autocomplete="off" name="lname"  />
						  
							</div>	
					</div>
					<h2 style="text-align:center;">Group5</h2>
					
					
					<div class="input_grp">
						<div class="input_wrap">
							<label for="fname">Registered</label>
							<input type="text" id="fname" style="font-size: large;" [(ngModel)]="this.List4.length" autocomplete="off" name="fname" >
						</div>
						<div class="input_wrap">
							<label for="lname">Available</label>
							<input type="text" id="lname" style="font-size: large;" [(ngModel)]="10-this.List4.length" autocomplete="off" name="lname"  />							</div>
					
					</div>
					
					
		</div>
	
		</div>
		
		</div>
		<div class="wrapper" >
  	<div class="registration_form">
  		<div class="title">
  			Hackathon Registration
  		</div>
  		<form [formGroup]="hacathon" (ngSubmit)="onsubmit()" >
  			<div class="form_wrap">
  				<div class="input_grp">
  					<div class="input_wrap">
  						<label for="fname">First Name</label>
  						<input type="text" id="fname" formControlName="fname" autocomplete="off" name="fname" >
							  <span style="color: red;" *ngIf="fname && fname.invalid && fname.touched">Please enter your firstname</span>
						
  					</div>
  					<div class="input_wrap">
  						<label for="lname">Last Name</label>
  						<input type="text" id="lname" formControlName="lname" autocomplete="off" name="lname"  />
						 
							  <span style="color: red;" *ngIf="lname && lname.invalid && lname.touched">Please enter your lastname</span>
						  </div>
  				
  				</div>
  				<div class="input_wrap">
  					<label for="email">Email Address</label>
  					<input type="text" id="email" formControlName="email" autocomplete="off" name="email">
					 
						  <span style="color: red;" *ngIf="email && email.invalid && email.touched">Please enter your valid email</span>
					
  				</div>
  				<div class="input_wrap">
  					<label for="city">Groups</label>
					<select formControlName="groups">
						<option value="Group1">Group1</option>
						<option value="Group2">Group2</option>
						<option value="Group3">Group3</option>
						<option value="Group4">Group4</option>
						<option value="Group5">Group5</option>
					</select>
						  <span style="color: red;" *ngIf="groups && groups.invalid && groups.touched">Please select One Group</span>	
  				</div>
  				<div class="input_wrap">
  					<label for="country">Interested Technology</label>
            <input type="text" id="interested technology" formControlName="interestedtechnology" name="interestedtechnology" autocomplete="off" >

						  <span style="color: red;" *ngIf="interestedtechnology && interestedtechnology.invalid && interestedtechnology.touched">Please enter your Interested Technology</span>
						
					
  				</div>
          <div class="input_wrap">
  					<label>Gender</label>
  					<ul>
  						<li>
  							<label class="radio_wrap">
  								<input type="radio" name="gender" value="male" class="input_radio" formControlName="gender" autocomplete="off" > 
  								<span>Male</span>
  							</label>
  						</li>
					
  						<li>
  							<label class="radio_wrap">
  								<input type="radio" name="gender" value="female" formControlName="gender" autocomplete="off" class="input_radio">
  								<span>Female</span>
  							</label>
  						</li>
  					</ul>
  				</div>
  				<div class="input_wrap">
  					<input type="submit" (click)="onSubmit()" value="Submit" class="submit_btn"> 
  				</div>
  			</div>
  		</form>
	</div>
  </div>
 
  </body>

